@media (prefers-color-scheme: light){
    body{
        background-color: white;
    }

    header{
        background-image: url(../imagenes/daenerys-targaryen-with-his-dragon-9d.jpg);
    }
    nav{
        background-color: rgba(255, 255, 255, 0.4);
    }
    nav ul li a{
        color: black;
    }
    nav ul li .link::before{
        background-color: black;
    }
    nav .mobile .header{
        background-color: rgba(255, 255, 255, 1);
    }
    nav .mobile .header a{
        color: black;
    }
    nav .mobile .header #bmenu{
        color: black;
    }
    nav .mobile .links {
        background-color: white;
    }
    nav .mobile .links a{
        background-color: white;
        color: black;
    }
    nav .mobile .links a:hover{
        background-color: black;
        color:white;
    }
    h2::before {    
        background-color: black;        
    }
    #banner{
        color: black;
        background-color: rgba(255, 255, 255, 0.473);
    }
    .green-button{
        background-color: black;
        color: white;
    }
    .green-button:hover{
        background-color: rgba(10, 10, 10, 0.63);
    }
    .green-link{
        color: black;
    }
    .green-link::before{
        background-color: black;
    }
    #videos {
        color: black;
        background-color: rgb(170, 170, 170);
        background-image: url(../imagenes/mapa.png);
    }
    h3{
        color: black;
    }
    #table-game h2{
        color:black;
    }
    #table-game p{
        color:black;
    }
    .info{
        background-color: rgba(255, 255, 255, 0.6);    
    }
    footer{
        height: 900px;
        background-image: url(../imagenes/main\ houses.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (prefers-modo-scheme:dark){

}